.modal {
    padding: 3rem;
}

.modal-content {
    border-radius: 5px;
}

.modal-header {
    background-color: #5f3dc4;
    color: #fff;
}




.modal-body {
    background-color: #fff;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
    padding: 3rem;
    margin: 1rem 1rem;
    border-radius: 5px;
}



/*modal ----------------------- x button */
.custom-close-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    position: relative;
}

    .custom-close-btn::before, .custom-close-btn::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 20px;
        background-color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .custom-close-btn::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .custom-close-btn:hover::before, .custom-close-btn:hover::after {
        background-color: white;
    }

    .custom-close-btn:hover {
        border-radius: 50%;
        box-shadow: 0 0 0 2px white;
    }

/*Modal footer buttons --------------------------------------*/

.btn-submit, .btn-closer {
    padding: 0.6rem 0.8rem; /* Slightly more horizontal padding */
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 5rem;
}

.btn-submit {
    background-color: #1971c2;
}


.btn-closer {
    background-color: #f03e3e;
}

.modal-footer-custom {
    display: flex;
    background-color: #fff;
    gap: 1rem;
    padding: 0.2rem;
    margin: 0.7rem 1rem;
    border-radius: 5px;
}

label {
    margin-bottom: 1px;
    font-weight: 400;
    font-family: Dubai;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}


input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}


.general-input, .general-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}


.general-option {
    border: none;
    font-family: Dubai;
    color: #808080;
    font-weight: 600;
    padding: 0.6rem 1.1rem;
    font-size: 1.1rem;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.2);
}

    .general-option:focus,
    .general-option:hover {
        outline: none;
        border: none;
        border-radius: 0.5rem;
    }
