@inherits LayoutComponentBase

<PageTitle>IFS</PageTitle>

<div class="page">

    <div class="nav">
        <NavMenu />
    </div>


    <menu class="menu-container">
    </menu>

    <section class="scrollable-article  ">
        <div class=" container-article">

            @Body
        </div>


    </section>


</div>
