/*.operation-img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.1rem;
    object-fit: cover;
}
*/



td {
    padding: 0.8rem 0.9rem;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: Rubik;
    vertical-align: middle; /* Add this line */
}


.icon {
    color: #e03131;

}

.delete-button {


    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
  
}




.btn-device {
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 0.9rem;
}


.btn-device {
    background-color: #087f5b;
}