
.btn-table-container {
    width: 70%;
    margin: 0 auto;
}
.top-section {
    padding: 2rem 3rem;
    display: flex;
    gap: 3px;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.table-container {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



.table thead tr th {
    padding: 0.8rem 0.9rem;
    font-size: 1.1rem;
    color: black;
    background-color: white;
}


.table-responsive {
    border-radius: 0.6rem;
}

.table {
    margin-bottom: 0;
    background-color: white;
}



tbody {
    letter-spacing: 0.23px;
    font-size: 1rem;
    color: black;
  
}

.add-icon {
    color: #fff;
    font-size: 11px; /* Adjusted for better visibility */
 
}

.btn-operation, .btn-device {
    padding: 0.6rem 0.8rem; /* Slightly more horizontal padding */
  
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
  
}


.btn-operation {
    background-color: #5f3dc4;
}


.btn-device {
    background-color: #087f5b; 
}