
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&family=Nunito+Sans:wght@200;300;400&family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;1,600&family=Rubik:wght@400;500;600;700&display=swap');

/*    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15), 0 2px 8px rgba(0, 0, 0, 0.15);*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', 'Nunito Sans';
    color: black;
    overflow: hidden;
}

html {
    /* font-size: 10px;  */
    font-size: 63%;
}


.container {
    min-width: 500px;
}




/*------------------------------Inputs and Select tag -----------------------*/

.filter-select-assembly {
    width: 27rem;
    border: none;
    padding: 0.3rem;
    font-size: 1rem;
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.2);
}

input, .general-select {
    padding: 1.1rem;
    font-size: 1rem;
    font-family: inherit;
    border: none;
    color: inherit;
    border-radius: 0.5rem;
}


    input::placeholder {
        color: #aaa;
    }

.general-option {
    border: none;
    font-family: Dubai;
    color: #808080;
    font-weight: 600;
    padding: 0.6rem 1.1rem;
    font-size: 1.1rem;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.2);
}

    .general-option:focus,
    .general-option:hover {
        outline: none;
        border: none;
        border-radius: 0.5rem;
    }


    .general-select:focus, .general-input:focus, .general-option:focus, select:focus{
        outline: none;
        box-shadow: 0 0 0 0.3rem rgba(190, 189, 189, 0.722);
    }



.validation-message {
    color: red;
    font-weight: 600;
}





/*-------------------buttons---------------------*/


button {
    border: none;
    outline: none;
}

    button:active {
        transform: translateY(3px);
    }



/*------Titles ----------*/
.feature-title {
    font-size: 2rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 1.6rem;
    font-family: Dubai;
    text-transform: uppercase;
}
